@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #090725;
}

.btnIndigo {
  background-color: #706BFF;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  border-radius: 50px;
  cursor: pointer;

}
*{
  user-select: none;
  transition: all 0.3s ease-in-out;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}